<!--PRODUCTOS MÁS COMPRADOS-->
<br><br><br><br><br><br><br>
<h1 class="centered-dark">Productos más comprados del día</h1>
<br><br><br><br>

<div class="container my-6">
  <div class="products-box">
    <div id="InfiniteProductsCarousel" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">

        <!-- Grupo de 3 elementos - Diapositiva 1 -->
        <div class="carousel-item active">
          <div class="row justify-content-center g-3">
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://i5.walmartimages.com/asr/d7b3d826-0228-4918-86bb-d1d452a925a3.596b3eefdde155490906804399d661ae.jpeg?odnHeight=2000&odnWidth=2000&odnBg=ffffff" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Led Monitor Gamer CURVO 24″ Dahua E230C FULL HD165Hz HDMIDP Nuevo</h5>
                  <p class="card-text">La resolución de 1920*1080 produce imágenes más claras y vívidas.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://http2.mlstatic.com/D_NQ_NP_818761-MLU74329098414_022024-O.webp" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Mouse Gamer NjoyTech Ergonómico con Luces RGB</h5>
                  <p class="card-text">Diseño ergonómico para largas jornadas de juego.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQPPx8071OMp3wncjeGrZYeEFCfxVtM5kqvvxpUYsU9lPh7yg3hFDCWio8UOfPi7ELtrkWuCcx8GyXZbv94TxcNG655QQnXwhr2TY45AJC3qTVt4UTkyxG1jA&usqp=CAE" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">JBL - Parlante Bluetooth Flip 6 - Gris</h5>
                  <p class="card-text">Su Woofer de 20 W ofrece frecuencias bajas y medios excepcionales, y el Tweeter de 10 W da frecuencias altas nítidas y claras. Hasta 12 horas de reproducción.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Grupo de 3 elementos - Diapositiva 2 -->
        <div class="carousel-item">
          <div class="row justify-content-center g-3">
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://vstore.cl/cdn/shop/products/ESTA-VA-RAINBOW3_1024x.png?v=1662142219" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Teclado Mecánico Redragon Kumara K552 RGB</h5>
                  <p class="card-text">Diseño compacto y duradero con switches mecánicos Outemu para una experiencia de juego superior</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://ggames.cl/cdn/shop/products/1611596934878-HHSS1C-KB-WTG_1024x1024@2x.jpg?v=1643035057" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Auriculares Gamer HyperX Cloud Stinger Core Wireless</h5>
                  <p class="card-text">Audio envolvente y sin cables con una batería de larga duración para largas sesiones de juego</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://oechsle.vteximg.com.br/arquivos/ids/9189802-1000-1000/image-d0a77daeb85d468297332b25f55f3080.jpg?v=637908552478800000" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Escritorio Gamer NRO04 Movenda Muebles 180cm Negro con Amarillo</h5>
                  <p class="card-text">Tú, jugador, al que le gusta sumergirse en el fantástico mundo de los juegos, pasar niveles, subir de nivel o batir récords, necesitas un lugar para refugiarte para explorar tus aventuras y superar desafíos. Por eso creamos el nuevo Escritorio Gamer NR04.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Grupo de 3 elementos - Diapositiva 3 -->
        <div class="carousel-item">
          <div class="row justify-content-center g-3">
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://th.bing.com/th/id/OIP.QSf_R95hu9ctL4-0ciqXJQHaFj?rs=1&pid=ImgDetMain" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Monitor Samsung Odyssey G30A 27" Full HD 144Hz</h5>
                  <p class="card-text">Experimenta un juego fluido y sin interrupciones con su frecuencia de actualización de 144Hz y tiempo de respuesta de 1ms</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://m.media-amazon.com/images/I/717Mv98vCYL._AC_SL1500_.jpg" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Silla Gamer Corsair T3 Rush Fabric</h5>
                  <p class="card-text">Diseño ergonómico con soporte lumbar ajustable para largas sesiones de juego</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="card h-100">
                <img src="https://progaming.cl/wp-content/uploads/2022/11/1-9082db3d-e346-46a5-85cd-4e45a24fde84-1-9104b95e-b715-420b-b3e7-6e8347fdf3bf.png" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                  <h5 class="card-title">Micrófono HyperX QuadCast S</h5>
                  <p class="card-text">Micrófono USB con retroiluminación RGB y ajuste de sensibilidad para una captura de audio de alta calidad</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#InfiniteProductsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#InfiniteProductsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>